$fedora: #80737D;

@media (min-width: 2000px) {
    .cards {
        grid-template-columns: repeat(3, 1fr);
        gap: 40px;

        .card {
            width: 640px;

            img {
                height: 280px;
            }
        }
    }
}

@media (max-width: 2000px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        .card {
            width: 640px;

            img {
                height: 280px;
            }
        }
    }
}

@media (max-width: 1400px) {
    .cards {
        grid-template-columns: repeat(2, 1fr);
        gap: 40px;

        .card {
            width: 480px;

            img {
                height: 200px;
            }
        }
    }
}

@media (max-width: 1100px) and (min-width: 710px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;

        .card {
            width: 640px;

            img {
                height: 280px;
            }
        }
    }
}

@media (max-width: 700px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;

        .card {
            width: 480px;

            img {
                height: 200px;
            }
        }
    }
}

@media (max-width: 560px) {
    .cards {
        grid-template-columns: repeat(1, 1fr);
        gap: 40px;

        .card {
            width: 280px;

            img {
                height: 140px;
            }

            .details {
                flex-direction: column !important;
                gap: 10px !important;
            }
        }
    }
}

h1 {
    margin-bottom: 0;
}

.cities {
    display: flex;
    flex-direction: column;
    gap: 50px;

    .city {
        display: flex;
        flex-direction: column;
        gap: 20px;

        .name {
            font-family: Manrope;
            font-size: 42px;
            font-style: normal;
            font-weight: 700;
            line-height: normal;
            text-decoration-line: underline;
        }

        button {
            cursor: pointer;
            width: 100%;
        }
    }

    .cards {
        display: grid;
        // grid-template-columns: repeat(2, 1fr);
        // gap: 40px;
        
        .card {
            cursor: pointer;
            padding: 0 0 20px 0;
            border-radius: 24px;
            background-color: $fedora;
            color: white;

            img {
                width: 100%;
                border-radius: 24px;
            }

            .data {
                padding-left: 10px;
                display: flex;
                flex-direction: column;
                gap: 20px;

                .main {
                    display: flex;
                    flex-direction: column;
                    gap: 6px;

                    .name {
                        font-size: 40px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                        text-decoration: none;
                    }
    
                    .price {
                        font-size: 26px;
                        font-style: normal;
                        font-weight: 400;
                        line-height: normal;
                    }
                }


                .details {
                    display: flex;
                    flex-direction: row;
                    gap: 50px;

                    .list {
                        display: flex;
                        flex-direction: column;
                        gap: 10px;

                        p {
                            margin: 0;
                        }
                    }
                }
            }
        }
    }
}